interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
  response:
    body: {string: '{"scope":"https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/applications/webhooks https://uri.paypal.com/services/invoicing
        https://uri.paypal.com/services/payments/payment/authcapture https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/reporting/search/read
        https://uri.paypal.com/services/disputes/read-seller https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/disputes/read-buyer https://api.paypal.com/v1/vault/credit-card
        openid https://uri.paypal.com/services/disputes/update-seller https://uri.paypal.com/services/payments/realtimepayment","nonce":"2018-12-27T08:35:16ZtqUCDeH6NMOfgWG6biy2nY7EipKaF2fCywYgHhh6trQ","access_token":"A21AAHjKRj8nB90uI6AwJUxp6YldbExa62LesWrHxJmvfh1M2EDju5mw849Se2STIu9njAz777Uu2q7ny-V6G1gDajqn9mtdA","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31498}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [58498be913452, 58498be913452]
      X-PAYPAL-TOKEN-SERVICE: [IAAS]
      paypal-debug-id: [58498be913452, 58498be913452]
    status: {code: 200, message: OK}
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
  response:
    body: {string: '{"error":"invalid_client","error_description":"Client Authentication
        failed"}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [c161b98b641da, c161b98b641da]
      X-PAYPAL-TOKEN-SERVICE: [IAAS]
      paypal-debug-id: [c161b98b641da, c161b98b641da]
    status: {code: 401, message: Unauthorized}
version: 1
