interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Content-Type: [application/x-www-form-urlencoded;charset=UTF-8]
    method: POST
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
  response:
    body: {string: '{"scope":"https://api.paypal.com/v1/payments/.* https://uri.paypal.com/services/payments/refund
        https://uri.paypal.com/services/applications/webhooks https://uri.paypal.com/services/invoicing
        https://uri.paypal.com/services/payments/payment/authcapture https://uri.paypal.com/payments/payouts
        https://api.paypal.com/v1/vault/credit-card/.* https://uri.paypal.com/services/reporting/search/read
        https://uri.paypal.com/services/disputes/read-seller https://uri.paypal.com/services/subscriptions
        https://uri.paypal.com/services/disputes/read-buyer https://api.paypal.com/v1/vault/credit-card
        openid https://uri.paypal.com/services/disputes/update-seller https://uri.paypal.com/services/payments/realtimepayment","nonce":"2018-12-27T08:35:16ZtqUCDeH6NMOfgWG6biy2nY7EipKaF2fCywYgHhh6trQ","access_token":"A21AAHjKRj8nB90uI6AwJUxp6YldbExa62LesWrHxJmvfh1M2EDju5mw849Se2STIu9njAz777Uu2q7ny-V6G1gDajqn9mtdA","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31496}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [f0fb8635e8934, f0fb8635e8934]
      X-PAYPAL-TOKEN-SERVICE: [IAAS]
      paypal-debug-id: [f0fb8635e8934, f0fb8635e8934]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.paypal.com/v1/reporting/transactions?start_date=2016-12-01T00%3A00%3A00-0000&end_date=2017-01-01T00%3A00%3A00-0000&fields=all&page_size=500&page=1
  response:
    body: {string: '{"transaction_details":[],"account_number":"PP6VJFFVUSKSU","start_date":"2016-12-01T00:00:00+0000","end_date":"2017-01-01T00:00:00+0000","last_refreshed_datetime":"2018-12-27T05:59:59+0000","page":1,"total_items":0,"total_pages":0,"links":[{"href":"https://api.sandbox.paypal.com/v1/reporting/transactions?start_date=2016-12-01T00%3A00%3A00-0000&end_date=2017-01-01T00%3A00%3A00-0000&fields=all&page_size=500&page=1","rel":"self","method":"GET"}]}'}
    headers:
      Content-Type: [application/json]
      HTTP_X_PP_AZ_LOCATOR: [sandbox.slc]
      Paypal-Debug-Id: [43742cbd235c, 43742cbd235c]
      paypal-debug-id: [43742cbd235c, 43742cbd235c]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.sandbox.paypal.com/v1/reporting/transactions?start_date=2018-12-15T00%3A00%3A24-0000&end_date=2018-12-27T23%3A59%3A59-0000&fields=all&page_size=500&page=1
  response:
    body: {string: '{"transaction_details":[{"transaction_info":{"paypal_account_id":"BTZ8PFPPU9ZWN","transaction_id":"9L454862S8890114T","transaction_event_code":"T0000","transaction_initiation_date":"2018-12-21T12:53:14+0000","transaction_updated_date":"2018-12-21T13:00:53+0000","transaction_amount":{"currency_code":"EUR","value":"73.39"},"transaction_status":"S","transaction_note":"for
        the cake","ending_balance":{"currency_code":"EUR","value":"73.39"},"available_balance":{"currency_code":"EUR","value":"73.39"},"protection_eligibility":"03"},"payer_info":{"account_id":"BTZ8PFPPU9ZWN","email_address":"bernard.halas-b@gmail.com","address_status":"N","payer_status":"Y","payer_name":{"given_name":"Bernard","surname":"Halas","alternate_full_name":"Bernard
        Halas"},"country_code":"US"},"shipping_info":{"name":"Bernard, Halas"},"cart_info":{},"store_info":{},"auction_info":{},"incentive_info":{}},{"transaction_info":{"paypal_account_id":"BTZ8PFPPU9ZWN","transaction_id":"06X29108W8869151H","transaction_event_code":"T0000","transaction_initiation_date":"2018-12-21T12:53:15+0000","transaction_updated_date":"2018-12-21T13:00:54+0000","transaction_amount":{"currency_code":"EUR","value":"88.07"},"transaction_status":"S","transaction_note":"Tickets
        to Barcelona","ending_balance":{"currency_code":"EUR","value":"161.46"},"available_balance":{"currency_code":"EUR","value":"161.46"},"pr[...]
